#rotate {
  -webkit-transform: rotate(40deg);
}

#skew {
  -webkit-transform: skewX(15deg);
}

#all {
  -webkit-transform: rotate(69deg);
  -webkit-transform: skewY(44deg);
}

#matrix {
  -webkit-transform: matrix(1, 2, 1, 0.5, 2, 2);

}

input:focus {
  background-color: yellow;
}

@keyframes widthChange {
  0% {
    width: 0%;
  }

  50% {
    width: 25%;
  }
  
  100% {
    width: 50%;
  }
}

@keyframes dieMove {
  0% {top: 0px;}
  25% {top: 200px;}
  75% {top: 50px;}
  100% {top: 100px;}
}

#animate {
  -webkit-animation: dieMove; 5s infinite;
}
