#rotate {
  -webkit-transform: rotate(40deg);
}

#skew {
  -webkit-transform: skewX(15deg);
}

#all {
  -webkit-transform: rotate(69deg);
  -webkit-transform: skewY(44deg);
}

#matrix {
  -webkit-transform: matrix(1, 2, 1, 0.5, 2, 2);

}

input:focus {
  background-color: green;
  border-width: 5px;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(25px);
  }
  20% {
    transform: translateX(50px);
  }
  35% {
    transform: translateX(75px);
  }
  50% {
    transform: translateX(100px);
  }
  60% {
    transform: translateX(75px);
  }
  70% {
    transform: translateX(50px);
  }
  85% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0);
  }
}
